/* Reset styles */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    background-color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    background: #b5ab8a;
}

.wrapper {
    padding: 30px;
    min-height: 100%;
}

.title {
    text-align: center;
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    color: #4f553d;
    margin-bottom: 30px;
}

.image-slider {
    padding: 30px 0 70px 0;
}

.image-slider__image {
    text-align: center;
}

.image-slider__image img {
    max-width: 100%;
}



/* body {
    font-size: 10;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b5ab8a;
}

.slider {
    width: 80rem;
    height: 50rem;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 50rem;
    display: flex;   
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 5s;
}

.slide img {
    width: 80rem;
    height: 50rem;
    border-radius: 1rem;
}

.navigation-manual {
    position: absolute;
    width: 80rem;
    margin-top: 46rem;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 0.2rem solid #586338;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 2s;
}

.manual-btn:not(:last-child) {
    margin-right: 4rem;
}

.manual-btn:hover {
    background: #586338;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

#radio5:checked ~ .first {
    margin-left: -80%;
}

#radio6:checked ~ .first {
    margin-left: -100%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 80rem;
    justify-content: center;
    margin-top: 46rem;
}

.navigation-auto div {
    border: 0.2rem solid #586338;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: 2s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 4rem;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #586338;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #586338;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #586338;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #586338;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
    background: #586338;
}

#radio6:checked ~ .navigation-auto .auto-btn6 {
    background: #586338;
} */